*{
  margin: 0%;
  padding: 0%;
}
.virgin_nav_menu,.virgin_nav_close{
  position: absolute;
  text-transform: uppercase;
  font-family:'Barlow', sans-serif;
  color: red;
  font-weight: 700;
  font-size:large;
  top: 2.5vh;
  left: 2vw;
  cursor: pointer;
  background-color: white;
}

.virgin_nav_menu_icon,.virgin_nav_close_icon{
  font-size: x-large;
  margin-right: 1vw;
 
}
.virgin_nav_menu{
  z-index: 999;
}
.virgin_navbar{
  border: 2px solid aliceblue;
  height: 9vh;
  display: flex;
  flex-direction: row;
}
.virgin_nav_title{
  background: url("./Images/tit.png") ;
  background-size: cover;
  background-position: center;
  height:8vh;
  width:4vw;
 position: relative;
 left: 45vw;
  top: 0.5vh;
}
